@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: hsl(0, 0%, 95%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 12px;
  margin: 2rem;
  overflow: hidden;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  padding-top: 20px;
}

p {
  padding-top: 2rem;
  color: white;
}
.box1 {
  background-color: hsl(31, 77%, 52%);
  padding: 40px;
}

.box2 {
  background-color: hsl(184, 100%, 22%);
  padding: 40px;
}

.box3 {
  padding: 40px;
  background-color: hsl(179, 100%, 13%);
}

a {
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  padding: 13px 27px;
  margin-top: 60px;
  border-radius: 26px;
  display: inline-block;
  border: 2px solid hsl(0, 0%, 95%);
  transition: all .4s ease-in-out;
}

.box1 a {
  color: hsl(31, 77%, 52%);
}

.box2 a {
  color: hsl(184, 100%, 22%);
}

.box3 a {
  color: hsl(179, 100%, 13%);
}

a:hover {
  color: hsl(0, 0%, 95%);
  background: transparent;
}

@media screen and (max-width: 768px) {
  .box {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .box {
    margin: 2rem .5rem;
  }
}
